body{
	background:#fafbfd repeat 0 0; 
}
#header{
	padding:11px 0 11px;
}
#header{ 
	padding-top:50px;
}

h3 {
	font-size: 18px;line-height: 1.5em;
}

.homCar{
	overflow:hidden;
}

.carousel-control {
	border: 0px; border-radius:2px
}

.carousel-control {top: 50%;}

.homCar h4 {
	background-color: #0023eb; color: #fff;padding: 4px 4px;font-size: 10px;text-transform: uppercase;float: left;width: auto;
}

.alignR{
	text-align:right;
}

.caption p{margin:0}
.caption h4{margin:0}
.thumbnail .caption {
	padding: 9px;color:#555555;background: #F3F2F2;
}
.footer {
	background-color:#C00; color:#eee; padding: 28px 8px 18px; margin-top: 18px;
}
.footer a{
	color:#bbb; font-size:12px;
}
.copyright {
	clear: both; padding-top: 40px;  font-size: 13px; background: #eaecec;
}
.topNav{
	padding: 0;border-bottom: 1px solid #CCC;background: #f5f2f4;box-shadow: 0 0 3px #B1AFAF;
}
.topNav a{
	color:#333; font-size:12px; font-weight:bold; display:inline-block;  padding:8px 4px;
}

#menu ul {
  background: #0d4ab9;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 130px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
  text-align:center;
  font-weight:bold;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
.thongtin{
	text-align:center;
	color:#FFF;	
	font-weight:bold;
	border-radius: 5px;
	border-bottom-color:#C00;
	border-left-color:#C00;
	border-top-color:#C00;
	border-right-color:#C00;
	background-color:#0d4ab9
	
	}
.nav1{
	background-color:#F2F2F2;
	color:#C00;
	border-left-color:#63F;
	border-right-color:#63F;
	border-top-color:#63F;
	border-bottom:solid;
	}

